
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 34px;
	color: #777;
	background-image: url("../images/greyfloral.png");
	margin-top: 0;
}

* {
	box-sizing: border-box;
}

/*general*/

h1, h2, #logo, {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

h1, h2 {
	color: #4aaaa5;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	clear: both;
}

#mainheader {
	position: fixed;
	background-color: white;
	overflow: auto;
	width: 100%;
	border-bottom: 5px solid #dddddd;
	margin: 0 0 30px;
	height: 120px;
}


#logo {
	float: left;
	/*display: inline-block;*/
	width: 400px;
	height: 90px;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 0;
	background-color: #4aaaa5;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 20px;
}

nav {
    float: right;
    background-color: #ffffff;
    font-weight: bold;
	margin-top: 50px;
}


nav a {
	display: inline-block;
	color: darkgrey;
	text-align: center;
	padding-right: 15px;
	margin-right: 7.5px;
	margin-left: 7.5px;
	text-decoration: none;
	border-right: 1px solid #dddddd;
}

nav a:last-child {
	border-right: 0 none;
}
nav a:hover {
	background-color: #4aaaa5;
	color: white;
}

nav a:visited {
	display: block;
	background-color: grey;
	color: teal;
}

#side-1 {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 1px;
    color: #ddddd;
}


#main-1 {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    border-style: inset;
    border-width: 1px;
    color: #ddddd;
}


img {
	float: left;
	margin-right: 20px;
	
}

#mainarea-container {
	overflow: hidden;
	width: 570px;
	height: auto;
	border: #4aaaa5;
	background-color: white;
	margin: 20px 20px 20px 30px;
	padding: 10px 20px 10px 30px;
}

#contactform {
	overflow: hidden;
	width: 550px;
	height: auto;
	border: #4aaaa5;
	background-color: white;
	margin: 30px 20px 50px 30px;
	padding: 10px 20px 10px 30px;
}

.sidebar {
	float: right;
	display: block;
	width: 100%;
	max-width: 270px;
	height: 150px;
	margin-left: 30px;
	text-align: center;
}

#connect {
	width: 100%;
	max-width: 270px;
	margin-top: 150px;
	background-color: white;
	overflow: hidden;
	height: 160px;

}
.socialmedia {
	padding: 0px 30px;
	background-color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ccc;
}

#contactform {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

input [type=text]:focus {
	border: 3px solid #4aaaa5;
}

#message {
	height: 150px;
	text-anchor: top;
}


.grid {
	position: relative;
	float: left;
	width: 280px;
	height: 240px;
	margin: 20px;
	overflow: auto;

}

.grid:nth-child(even) {
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.work img {
	width: 100%;
	border: 0 none;
}

.grid h3 {
	position: absolute;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	background-color: #4aaaa5;
	bottom: 20px;
	width: 100%;
	padding: 10px;
	margin-bottom: 0px;
	height: 50px;
	opacity: 8;
	text-align: center;
	color: white;
	
}


footer {
	clear: both;
	border-top: 10px solid #4aaaa5;
	background-color: #666666;
	padding: 30px 0px 30px 30px;
	text-align: center;
	color: white;
	font-size: 14px;
	
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
	#mainheader {
		position: static;
		margin: 0;
		height: auto;
	}
	
	logo {
		width: 60%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.container {
		width: 100%;
	}
	
	nav {
		width: 40%;
		
	}

	nav a {
		padding-right: 5px;
		padding-left: 5px;
		
	}		

	#mainarea-container {
		width: 680px;
	}

	.sidebar {
		position: relative;
		width: 100%;
		float: none;

	}

	#connect {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.grid {
		width: 240px;
		display: block;
				
	}
	
	.contimages img {
		width: 100%;
		height: 240px;
		
	}

	
	footer {
		margin-top: 30px;
	}
}

@media screen and (max-width: 640px) {
	.bob {
		width: 100%;
	}

	#mainheader {
		position: static;
		margin: 0;
		height: auto;
	}
	
	#logo {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.container {
		width: 100%;

	}
	
	nav {
		width: 100%;
		margin-top: 10px;

	}

	nav a {
		margin: 0px 50px 10px 50px;
		text-align: center;
		border: none;
	}

	#mainarea-container {
		width: 90%;
	}

	#bio-image {
		width: 100%;
		height: auto;
	}

	.sidebar {
		position: relative;
		float: none;

	}

	#connect {
		margin-top: 10px;
		margin-bottom: 10px;
		
	}
	.grid {
		float: none;
		position: relative;
		left: 25%;
		right: 25%;

	}
	
	.work img {
		width: 100%;
		padding: 20px;
		height: auto;
	}

	.contimages {
		position: relative;
	}

	footer {
		margin-top: 30px;
	}

}
